{% extends "categorias_produc/index.html" %}
{% load static %}
{% block titulo_seccion %}

<section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          ACCESORIOS
        </h1>
        <p>
            Bañeras, mantas, mochilas, cambiadores y mucho mucho más!
        </p>
      
      </div>
      
      <div class="accesorios_img-container">
        <div>
          <img src="{% static 'images/accesorios.png' %}" width="50%" alt="" class="img-fluid">
        </div>
      </div>
   
    </div>
  </section>

{% endblock titulo_seccion %}

{% block contenido_seccion %}

<div class="tabla-estructura">
  <table class="tabla-productos">
    <thead>
     <tr>
        <th>ID</th>
        <th>PRODUCTO</th>
        <th>MARCA</th>
        <th>DESCRIPCION</th>
        <th>PRECIO</th>
      </tr>
    </thead>
    <tbody>
      {% for a in accesorios %}
        <tr>
          <td>{{ a.id }}</td>
          <td>{{ a.nombre }}</td>
         <td>{{ a.marca }}</td>
         <td>{{ a.descripcion }}</td>
         <td>{{ a.precio }}</td>
        </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

{% endblock contenido_seccion %}