{% extends "categorias_produc/index.html" %}
{% load static %}
{% block titulo_seccion %}

<section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          ACCESORIOS
        </h1>
        <p>
            Bañeras, mantas, mochilas, cambiadores y mucho mucho más!
        </p>
      
      </div>
      
      <div class="hero_img-container">
        <div>
          <img src="{% static 'images/accesorios.png' %}" width="50%" alt="" class="img-fluid">
        </div>
      </div>
   
    </div>
  </section>

{% endblock titulo_seccion %}

{% block contenido_seccion %}


{% endblock contenido_seccion %}