{% extends "categorias_produc/index.html" %}
{% load static %}
{% block titulo_seccion %}

<section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1>
          CALZADO
        </h1>
        <p>
            Encontrá calzado desde NC - no caminantes - hasta el número 34
        </p>
      
      </div>
      
      <div class="calzado_img-container">
        <div>
          <img src="{% static 'images/calzado.png' %}" width="50%" alt="" class="img-fluid">
        </div>
      </div>
   
    </div>
  </section>

{% endblock titulo_seccion %}

{% block contenido_seccion %}

<div class="tabla-estructura">
  <table class="tabla-productos">
    <thead>
     <tr>
        <th>ID</th>
        <th>PRODUCTO</th>
        <th>MARCA</th>
        <th>TALLE</th>
        <th>PRECIO</th>
      </tr>
    </thead>
    <tbody>
      {% for z in calzado %}
        <tr>
          <td>{{ z.id }}</td>
          <td>{{ z.nombre }}</td>
         <td>{{ z.marca }}</td>
         <td>{{ z.talle }}</td>
         <td>{{ z.precio }}</td>
        </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

{% endblock contenido_seccion %}